/* $data-gap-multiplier: 0.25rem;

$alignments: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
);

.vstack {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @for $i from 1 through 10 {
    &[data-gap='#{$i}'] {
      gap: $i * $data-gap-multiplier;
    }
  }
  @each $k, $d in $alignments {
    &[data-justify='#{$k}'] {
      justify-content: $d;
    }
  }
  @each $k, $d in $alignments {
    &[data-align='#{$k}'] {
      align-items: $d;
    }
  }
} */

.v-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.v-stack[data-gap='1'] {
  gap: 0.25rem;
}

.v-stack[data-gap='2'] {
  gap: 0.5rem;
}

.v-stack[data-gap='3'] {
  gap: 0.75rem;
}

.v-stack[data-gap='4'] {
  gap: 1rem;
}

.v-stack[data-gap='5'] {
  gap: 1.25rem;
}

.v-stack[data-gap='6'] {
  gap: 1.5rem;
}

.v-stack[data-gap='7'] {
  gap: 1.75rem;
}

.v-stack[data-gap='8'] {
  gap: 2rem;
}

.v-stack[data-gap='9'] {
  gap: 2.25rem;
}

.v-stack[data-gap='10'] {
  gap: 2.5rem;
}

.v-stack[data-justify='start'] {
  justify-content: flex-start;
}

.v-stack[data-justify='center'] {
  justify-content: center;
}

.v-stack[data-justify='end'] {
  justify-content: flex-end;
}

.v-stack[data-align='start'] {
  align-items: flex-start;
}

.v-stack[data-align='center'] {
  align-items: center;
}

.v-stack[data-align='end'] {
  align-items: flex-end;
}
