.icon-button {
  composes: base-button from '@/assets/base-button.module.scss';
  // override the base-button styles
  line-height: 1;
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem;
}
