/* $data-font-size-multiplier: 0.25rem;

.typography-title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--mauve-12);

  @for $i from 1 through 10 {
    &[data-font-size='#{$i}'] {
      font-size: $i * $data-font-size-multiplier;
    }
  }
}

.typography-description {
  font-size: 0.875rem;
  color: var(--mauve-10);

  @for $i from 1 through 10 {
    &[data-font-size='#{$i}'] {
      font-size: $i * $data-font-size-multiplier;
    }
  }
} */

.title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--mauve-12);
}

.title[data-font-size='1'] {
  font-size: 0.25rem;
}

.title[data-font-size='2'] {
  font-size: 0.5rem;
}

.title[data-font-size='3'] {
  font-size: 0.75rem;
}

.title[data-font-size='4'] {
  font-size: 1rem;
}

.title[data-font-size='5'] {
  font-size: 1.25rem;
}

.title[data-font-size='6'] {
  font-size: 1.5rem;
}

.title[data-font-size='7'] {
  font-size: 1.75rem;
}

.title[data-font-size='8'] {
  font-size: 2rem;
}

.title[data-font-size='9'] {
  font-size: 2.25rem;
}

.title[data-font-size='10'] {
  font-size: 2.5rem;
}

.description {
  font-size: 0.875rem;
  color: var(--mauve-10);
}

.description[data-font-size='1'] {
  font-size: 0.25rem;
}

.description[data-font-size='2'] {
  font-size: 0.5rem;
}

.description[data-font-size='3'] {
  font-size: 0.75rem;
}

.description[data-font-size='4'] {
  font-size: 1rem;
}

.description[data-font-size='5'] {
  font-size: 1.25rem;
}

.description[data-font-size='6'] {
  font-size: 1.5rem;
}

.description[data-font-size='7'] {
  font-size: 1.75rem;
}

.description[data-font-size='8'] {
  font-size: 2rem;
}

.description[data-font-size='9'] {
  font-size: 2.25rem;
}

.description[data-font-size='10'] {
  font-size: 2.5rem;
}
