.tabs {
  display: flex;
  flex-direction: column;
}

.tabs-panel {
  flex-grow: 1;
  padding: 1rem;
}

.tabs-list {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid var(--mauve-6);
}

.tabs-tab {
  padding: 0 1rem;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: var(--mauve-11);
  user-select: none;
  &:hover {
    color: var(--indigo-12);
  }
  &[data-state='active'] {
    color: var(--indigo-12);
    box-shadow:
      inset 0 -1px 0 0 currentColor,
      0 1px 0 0 currentColor;
  }
}
