.articleCard {
  gap: 0.5rem;
  border: 1px solid var(--mauve-6);
  border-radius: 0.5rem;
  padding: 1rem;
  // NOTE: subgridでランダムな高さを揃える
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}
.articleCard-title {
  font-weight: 600;
  color: var(--mauve-11);

  composes: _line-clamp-3 from '@/assets/line-clump.module.scss';
}
.articleCard-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;

  composes: _line-clamp-1 from '@/assets/line-clump.module.scss';

  > :is(p) {
    font-size: 0.875rem;
    color: var(--mauve-10);
  }
}
