$data-gap-multiplier: 0.25rem;

$alignments: (
  'start': 'flex-start',
  'center': 'center',
  'end': 'flex-end',
);

.hstack {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @for $i from 1 through 10 {
    &[data-gap='#{$i}'] {
      gap: $i * $data-gap-multiplier;
    }
  }
  @each $k, $d in $alignments {
    &[data-justify='#{$k}'] {
      justify-content: $d;
    }
  }
  @each $k, $d in $alignments {
    &[data-align='#{$k}'] {
      align-items: $d;
    }
  }
}
