.radio-group {
  composes: toggle-group from '@/assets/base-toggle.module.css';
}
.radio-label {
  composes: toggle-label from '@/assets/base-toggle.module.css';
}

.radio {
  composes: toggle from '@/assets/base-toggle.module.css';
  background-color: var(--indigo-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
}

.radio-text {
  composes: toggle-text from '@/assets/base-toggle.module.css';
}
