.article-detail-content {
  composes: editor-reset from '@/assets/base-editor.module.scss';
}

// override the base-button styles
.article-detail-button.article-detail-button {
  justify-content: flex-start;
}

.article-detail-like-icon {
  composes: svg from '@/assets/base-icon.module.scss';
}