.top-page-title {
  font-size: 4rem;
  color: var(--indigo-12);
}

.top-page-sub-title {
  font-weight: 600;
  composes: _line-clamp-3 from '@/assets/line-clump.module.scss';
  color: var(--indigo-9);
}
