.icon-button {
  composes: base-button from '@/assets/base-button.module.css';
  /* override the base-button styles */
  line-height: 1;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem;

  /* shape */
  &[data-shape='sharp'] {
    border-radius: 0%;
  }
  &[data-shape='rounded'] {
    border-radius: 20%;
  }
  &[data-shape='circle'] {
    border-radius: 100%;
  }
}
