.toggle-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggle-label {
  align-items: center;
  color: var(--indigo-12);
  display: inline-flex;
  font-size: 1em;
  line-height: 1;
  width: fit-content;
}

.toggle {
  &:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: filter 0.3s ease;
  }
  &:is([disabled], [aria-disabled]) {
    pointer-events: none;
    filter: brightness(80%);
    transition: filter 0.3s ease;
  }
  &:focus {
    outline: 2px solid;
    outline-offset: 2px;
    outline-color: var(--indigo-6);
  }

  &[data-state='checked'] {
    border: 1px solid var(--indigo-12);
    background-color: var(--indigo-3);
    color: var(--indigo-12);
    &:focus {
      outline-color: var(--indigo-6);
    }
  }
  &[data-state='unchecked'] {
    border: 1px solid var(--indigo-12);
    background-color: var(--indigo-1);
    color: var(--indigo-12);
    :focus {
      outline-color: var(--indigo-6);
    }
  }
  &[data-error='true'] {
    border: 1px solid var(--red-10);
    background-color: var(--red-3);
    color: var(--red-10);
    &:focus {
      outline-color: var(--red-6);
    }
  }
}

.toggle-text {
  &:not(:empty) {
    margin-left: 8px;
  }
  &:is(.checkbox:checked ~ *) {
    color: var(--indigo-12);
  }
  &:is(.checkbox:disabled ~ *) {
    color: var(--indigo-12);
    opacity: 0.3;
  }
}
