/* @see https://github.com/vercel/next.js/discussions/31705 */
.editor-reset {
  /* revert reset css */
  &:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
    all: revert;
  }

  &:first-child {
    margin-top: 0;
  }

  /* List styles */
  &:global(ul),
  &:global(ol) {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    &:global(li p) {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
    /* li::first-line {
      margin-left: -1rem;
    } */
  }

  /* Heading styles */
  &:global(h1),
  &:global(h2),
  &:global(h3),
  &:global(h4),
  &:global(h5),
  &:global(h6) {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  &:global(h1),
  &:global(h2) {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  &:global(h1) {
    font-size: 1.4rem;
  }

  &:global(h2) {
    font-size: 1.2rem;
  }

  &:global(h3) {
    font-size: 1.1rem;
  }

  &:global(h4),
  &:global(h5),
  &:global(h6) {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  &:global(code) {
    background-color: var(--mauve-12);
    border-radius: 0.4rem;
    color: var(--mauve-12);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  &:global(pre) {
    background: var(--mauve-12);
    border-radius: 0.5rem;
    color: var(--mauve-1);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    &:global(code) {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  &:global(blockquote) {
    border-left: 3px solid var(--mauve-8);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  &:global(hr) {
    border: none;
    border-top: 1px solid var(--mauve-10);
    margin: 2rem 0;
  }

  &:global(a) {
    color: var(--blue-8);
    text-decoration: inherit;
    cursor: pointer;
  }
  &:global(a:hover) {
    color: var(--blue-10);
  }
}
