.autocomplete-input {
  composes: base-input from '@/assets/base-input.module.css';
}

.autocomplete-menu-popup {
  box-sizing: border-box;
  border-radius: 0.375rem;
  background-color: canvas;
  color: var(--color-gray-900);
  width: var(--anchor-width);
  max-height: 23rem;
  max-width: var(--available-width);

  outline: 1px solid var(--mauve-2);
  box-shadow:
    0 10px 15px -3px var(--mauve-2),
    0 4px 6px -4px var(--mauve-2);
}

.autocomplete-menu-list {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-block: 0.5rem;
  scroll-padding-block: 0.5rem;
  outline: 0;
  max-height: min(23rem, var(--available-height));

  &[data-empty] {
    padding: 0;
  }
}

.autocomplete-menu-item {
  box-sizing: border-box;
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  font-size: 1rem;
  line-height: 1rem;

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: var(--mauve-1);
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--mauve-9);
  }
}

.autocomplete-menu-empty:not(:empty) {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 0.925rem;
  line-height: 1rem;
  color: var(--mauve-6);
}
