name: frontend lint

on:
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup node.js
        uses: actions/setup-node@v3
      - name: npm ci
        run: npm ci

  lint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup node.js
        uses: actions/setup-node@v3
      - name: npm ci
        run: npm ci
      - name: lint:js
        run: npm run lint:js

  format:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup node.js
        uses: actions/setup-node@v3
      - name: npm ci
        run: npm ci
      - name: format
        run: npm run format

  typecheck:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup node.js
        uses: actions/setup-node@v3
      - name: npm ci
        run: npm ci
      - name: typecheck
        run: npm run typecheck
